<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Message!</title>
</head>
<body>
    <center>
        <h1>Just say this to world!</h1><br>
        <form action="/message" method="POST">
            <label for="title">TITLE</label><br>
            <input type="text" name="title"><br><br>
            <label for="message">Message</label><br>
            <input type="text" name="message"><br><br>
            <input type="submit" value="SHARE">
        </form>
    </center>
</body>
</html>